<html>
    <head>
        <title>ma stai scherzando</title>
    </head>
    <body>
        <h2>HTML Forms</h2>

<form action="/registrati">
  <label for="email">Email:</label><br>
  <input type="email" id="email" name="email" required><br>
  <label for="codicefiscale">Codice fiscale:</label><br>
  <input type="codicefiscale" id="codicefiscale" name="codicefiscale" required><br>
  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password" required><br>
  <input type="submit"> Login</button>
</form> 


    </body>
</html>